<nav>
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" ng-click="trocarMes(0)">Jan</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ng-click="trocarMes(1)">Feb</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ng-click="trocarMes(2)">Mar</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ng-click="trocarMes(3)">Apr</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ng-click="trocarMes(4)">May</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ng-click="trocarMes(5)">Jun</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ng-click="trocarMes(6)">Jul</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ng-click="trocarMes(7)">Aug</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ng-click="trocarMes(8)">Sep</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ng-click="trocarMes(9)">Oct</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ng-click="trocarMes(10)">Nov</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ng-click="trocarMes(11)">Dec</a>
		</li>
	</ul>
</nav>

<main>
	<table class="table table-striped table-bordered">
		<tr>
			<td>1</td>
			<td>-50</td>
			<td>950</td>
		</tr>
	</table>
</main>


